@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');


html, body, main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%
  min-width:290px;
  color: #4d4e53;
  font-family: 'Noto Serif TC', serif;
  line-height: 1.5;
  background-color: #F4DED2;
}
hr {
  color: #222 !important;
  width: 80%;
}
nav {
  position: fixed;
  left: 0px;
  min-width: 300px;
  top: 0px;
  width: 300px;
  height: 100%;
  border-right: dashed;
  border-width: 1px;
  opacity: .9;
  border-color: #666;
  background-color: #F4B28F;
}
sub {
  font-weight: bold;
  font-size: 18px !important;
  display: flex;  
  justify-content: center;
  color: #222;
  margin: 25px 0 !important;
}
#nav-header {
  text-transform: uppercase;
  margin: 0 !important;
  text-align: left;
  padding: 20px 0;
  font-size: 30px;
  color: #222;
}
main header{
  margin-top: 20px !important;
  padding: 10px;
  color: #222;
  font-size: 40px;
  text-align: center;
  background-color: #F4B28F;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #222;
  -webkit-box-shadow: 0px 0px 5px #222;
  -moz-box-shadow: 0px 0px 5px #222;
  -o-box-shadow: 0px 0px 5px #222;
  margin: 0px;
}
nav ul{
  height: 100%;
  overflow-y: auto;
}
nav li{
  padding: 8px;
  padding-left: 40%;
  list-style: none;
  position: relative;
  left: -50px;
  width: 100%;
  text-align: left;
  font-weight: bold;
}
nav a{
  color: #222;
  text-decoration: none;
  cursor: pointer;
} 
a:hover {
  color: black !important;
  text-shadow: 1px 1px 1px #666 !important;
}
main{
  position: absolute;
  margin-left: 300px;
  padding: 20px;
  margin-bottom: 80px;
}
section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 17px;
  text-align: justify;
  margin-bottom: 20px;
}
.margin-left {
  margin-top: 15px;
  margin-left: 15px;
  transform: translateX(30%) scale(0.95);
}
.margin-right {
  margin-top: 15px;
  margin-right: 15px;
  transform: translateX(-30%) scale(0.95);
}
img {
  opacity: 0;
  transition: all .5s;
  border-radius: 8px;
}
.active {
  opacity: 1;
  transform: translate(0%) scale(1);
}

@media only screen and (max-width: 768px) {
  #nav-header {
    text-align: center;
  }
  nav ul {
    height: auto;
  }
  nav {
    position: fixed;
    overflow-y: auto;
    opacity: 0.97;
    top: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 0 !important;
    width: 100%;
    max-height: 27%;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }
  main {
/*    position: relative; */    
    margin-left:0;
    margin-top: 0;
    width: 100%;
  }
  main header {
    padding: 0px;
  }
  img {
    width: 100%;
    margin-bottom: 15px; 
  }
}

@media (max-width: 500px) {
  #navigation {
    transform: translateY(-100%);
  }
}