@import url('https://fonts.googleapis.com/css?family=Crimson+Text');


html, body, main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%
  color: #4d4e53;
  font-family: 'Crimson Text', serif;
  line-height: 1.5;
  background-color: #EEF9E3;
}
#bar {
  border-top: 1px solid #999 !important;
  width: 70%;
}
nav {
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  transition: all .4s;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 350px;
  height: 100%;
  border-right: dashed;
  border-width: 1px;
  opacity: .9;
  border-color: #666;
  background-color: #B4D69A;
}
#nav-header {
  text-transform: uppercase;
  font-size: 40px !important;
  margin: 0 !important;
  text-align: left;
  padding: 20px 0;
  font-size: 30px;
  color: #222;
}
sub {
  font-weight: bold;
  font-size: 20px !important;
  display: flex;  
  justify-content: center;
  color: #222;
  margin: 25px 0 !important;
}
main header{
  margin-top: 20px !important;
  padding: 10px;
  color: #222;
  font-size: 40px;
  text-align: center;
  background-color: #CBEAA6;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #222;
  -webkit-box-shadow: 0px 0px 5px #222;
  -moz-box-shadow: 0px 0px 5px #222;
  -o-box-shadow: 0px 0px 5px #222;
  margin: 0px;
}
nav ul {
  height: 100%;
  overflow-y: auto;
}
nav li {
  padding: 8px;
  padding-left: 40%;
  list-style: none;
  position: relative;
  left: -50px;
  width: 100%;
  text-align: left;
  font-weight: bold;
}
nav a {
  color: #222;
  text-decoration: none;
  cursor: pointer;
} 
a:hover {
  color: black !important;
  text-decoration: none !important;
  text-shadow: 0.5px 0.5px 0.5px #666 !important;
}
.fas {
  opacity: 0.8;
  text-shadow: none;
  padding-right: 10px;
}
main{
  position: absolute;
  margin-left: 350px;
  padding: 40px;
  margin-bottom: 80px;
}
section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20px;
}
.margin-left {
  margin-top: 15px;
  margin-left: 15px;
  transform: translateX(10%) scale(0.95);
}
.margin-right {
  margin-top: 15px;
  margin-right: 15px;
  transform: translateX(-10%) scale(0.95);
}
img {
  opacity: 0;
  transition: all .5s;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 26px -4px rgba(34,34,34,0.55);
  -moz-box-shadow: 10px 10px 26px -4px rgba(34,34,34,0.55);
  box-shadow: 10px 10px 26px -4px rgba(34,34,34,0.55);
}
.active {
  opacity: 0.85;
  transform: translate(0%) scale(1);
}
.show-nav {
  transition: all .4s;
  opacity: 0.95;
  transform: translateX(0%);
}
/*.highlight {
  transition: all 0s;
  border-bottom: 2px solid #222;
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  opacity: .2;
  z-index: 0;
  border-radius: 20px;
  display: block;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}*/

@media only screen and (max-width: 768px) {
  #nav-header {
    text-align: left;
    padding-left: 20px;
  }
  nav ul {
    height: auto;
    padding-left: 25px;
  }
  nav {
    opacity: 0;
    padding: 0;
    margin: 0;
    transform: translateX(-50%);
    min-width: 75%;
    max-width: 80%;
    margin-bottom: 0 !important;
    border-right: 1px dashed;
    z-index: 1;
  }
  main {
/*    position: relative; */    
    margin-left: 0;
    margin-top: 0;
    width: 100%;
  }
  main header {
    padding: 0px;
  }
  img {
    width: 100%;
    margin-bottom: 15px; 
  }
}

@media (max-width: 500px) {
  /*#navigation {
    transform: translateY(-100%);
  }*/
  main {
    padding: 20px;
  } 
  sub {
    line-height: 1.4 !important;
    margin-left: auto;
    text-align: center;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
}
